* {
    font-family: "Dancing Script", serif;
}
body {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #333;
    font-size: 40px;
}

#taskForm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#taskInput {
    padding: 10px;
    font-size: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 10px;
}

#taskForm button {
    padding: 10px 20px;
    font-size: 25px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#taskForm button:hover {
    background-color: #218838;
}

#taskList {
    list-style-type: none;
    padding: 0;
    width: 400px;
}

#taskList li {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
}

#taskList li:hover {
    background-color: #f9f9f9;
}

#clearList {
    padding: 10px 20px;
    font-size: 30px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#clearList:hover {
    background-color: #c82333;
}

.completed {
    text-decoration: line-through;
    color: #888;
}